---
title: Cargo Collective
---

<div id="header">
  <a id="header-link" href="#" title="Tobeshi">
    <h1 id="title">Tabeshi</h1>
  </a>
</div>
<ul id="nav">
  <li id="nav-item-about" class="nav-item">
    <a class="nav-item-link" href="#" title="About Tabeshi">ABOUT</a>
  </li>
  <li id="nav-item-references" class="nav-item">
    <a class="nav-item-link" href="#" title="References">REFERENCES</a>
  </li>
  <li id="nav-item-twitter" class="nav-item">
    <a class="nav-item-link" href="#" title="Twitter">TWITTER</a>
  </li>
  <li id="nav-item-facebook" class="nav-item">
    <a class="nav-item-link" href="#" title="Facebook">FACEBOOK</a>
  </li>
  <li id="nav-item-subscribe" class="nav-item">
    <a class="nav-item-link" href="#" title="Subscribe to Tabeshi">SUBSCRIBE</a>
  </li>
  <li id="nav-item-blog" class="nav-item">
    <a class="nav-item-link" href="#" title="Blog">BLOG</a>
  </li>
</ul>
<div id="main">
  <% i = 0 %>
  <% data.artworks.each do |a| %>
  <% i = i + 1 %>
  <div class="artwork">
    <a class="artwork-clip-link" href="#" title="<%= a[0] %>">
      <img class="artwork-clip" src="/img/<%= '%.2d' % i %>.png" alt="<%= a[0] %>">
    </a>
    <a class="artwork-link" href="#" title="<%= a[0] %>"><%= a[0] %></a>
    <p class="artwork-description"><%= a[1] %></p>
  </div>
  <% end %>
</div>
<div id="footer">Copyright 2006-2011 Emeric TRAHAND. All rights reserved. | <a id="footer-contact-link" href="#" alt="Contact">Contact</a></div>
